@CHARSET "ISO-8859-1";

body {
	padding: 0px;
	/* 	margin: 0px 0px 0px 100px; */
	height: 100%;
	/* 	background-color: rgb(251, 251, 251); */
	background-image: url('images/fabric_of_squares_gray.png');
	background-repeat: repeat;
}

#content-container {
	margin: 0px 0px 20px;
}

#center-container {
	margin: 0px auto;
	width: 1240px;
}

#main-container {
	padding-top: 10px;
	width: 1250px;
}

#title-container {
	width: 300px;
	margin: 0px;
	padding: 0px;
	font: 60pt "Segoe UI";
	margin-bottom: 10px;
}

.box {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	background-color: rgb(240, 240, 240);
	padding: 10px;
	margin-bottom: 15px;
}

.spaced {
	margin: 5px 0px 5px 0px;
}

#middle-container {
	width: 900px;
	float: left;
	margin-right: 20px;
}

#right-container {
	width: 300px;
	float: left;
}

h2 {
	font: 14pt Arial;
	margin: 2px;
	margin-bottom: 10px;
}

h4 {
	font: 13pt Arial;
	margin-bottom: 10px;
}

th {
	font: bold 12pt Arial;
	padding-left: 10px;
	padding-right: 10px;
}

td {
	font: 12pt Arial;
	text-align: center;
}

p {
	font: 12pt Arial;
}

form {
	font: 12pt Arial;
	margin-bottom: 0px;
}